<html>
    <head>
        <link rel="stylesheet" href="C:\Users\Vishnu Kumar\Downloads\PJ35\static\main4.css">
    </head>
<body>     
<h1>
    Machine Learning Engineer
</h1>

<h3>Roles And Responsibilities:</h3>
<label class="uno">
    <li>
Analyzing the ML algorithms that could be used to solve a given problem.<br>
</li>
<li>Exploring, analyzing and visualizing data to gain an understanding of it.</li>
<li>Maintaing Data quality on different type of datasets.</li>
<li>Supervising the data acquisition process if more data is needed.</li>
<li>Defining Model validation strategies.</li>
<li>Defining the preprocessing or feature engineering to be done on a given dataset.</li>
<li>Deploying and maintaining the MLOps pipelines.</li>
</label>
<h3>Technical Expertise:</h3>

<label>
<li>
Hands on experience on TensorFlow, PyTorch, Keras, Caffe,Supervised Machine Learning Algorithms.
</li>
<br>
<li>
Experience in Data Wrangling and PySpark(Good to have knowledge over EMR and Glue)</li>
<div>
    <p>
<h3>Skills:</h3> 
MLFLow,&#160;CNN,&#160; Cassandra,&#160; EMR,&#160; Glue,&#160; PySpark
</div>
    </p>
    <label for="pic" class="one">
        <span>Upload File</span>
        <input type="file" id="pic">
    </label>

    <br>
</body>
</html>